<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <p>재료를 골라주세요</p>
    <form action="/recipe" method="POST">
        <label>
            <input type="radio" name="id1" value="계란">계란
            <input type="radio" name="id2" value="참깨">참깨
            <input type="radio" name="id3" value="김">김
            <input type="radio" name="id4" value="기름">기름
            <input type="radio" name="id5" value="맛다시">맛다시
        </label>
        <button type="submit">제출</button>
    </form>
</div>
</body>
</html>